*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
}
h1{
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    outline: 0px;
    border: 0px;
}


ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    height: auto;
}
h2{
    font-size: 40px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
p{
    font-size: 18px;
    line-height: 1.3;
    color: #181818;
    opacity: 70%;
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
}


 /* ========== All Common Css End ========== */


nav{
    box-shadow: 0px 2px 15px gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 80px;
    z-index: 100;
    background-color: white;
}
.main_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.logo{
    width: 115.21px ;
    height: 83px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_menu ul{
    display: flex;
    align-items: center;
    gap: 50px;

}
.main_menu ul li a{
    font-size: 18px;
    line-height: auto;
    font-weight: bold;
    color: #181818;
    position: relative;
    transition: 0.5s;
    
}
.main_menu ul li a:hover{
    color: #5956E8;
    
}
.main_menu ul li a::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -20px;
    right: 20px;
    transition: 0.5s;

    border-radius: 50%;
    background-color: #5956E8;
    opacity: 0%;
}
.main_menu ul li a:hover::after{
    opacity: 100%;
}
.btn{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 24px;
    background: #5956E8;
    border-radius: 10px;
}
.btn:hover{
    background: #0803f9;
    
}

/* navber end */


#banner{
    background-color: #5956E8;
    width: 100%;
    margin-top: 110px;
}
#banner .flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 77px;
    padding: 182px 0px;
}
#banner .flex .info{
    max-width: 542px;
}
#banner .flex .info h1{
    font: 30px;
    font-weight: bold;
    line-height: 1.5;
    color: white;
    text-align: left;
}
#banner .flex .info p{
    font-size: 16px;
    line-height: 1.3;
    color: white;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: left;
}
#banner .flex .info button{
    color: #5956E8;
    font-size: 18px;
    padding: 13px 22px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s linear;
}
#banner .flex .info button:hover{
    color: white;
    background-color: #5956E8;
    border: 1px solid white;
}
#banner .flex .img{
    max-width: 479px;
    height: 535px;
}

/* banner end */


.banner1{
    padding-bottom: 100px;
}
.banner1 .item{
    padding-top: 50px;
}
.banner1 .item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    gap: 30px;
}
.banner1 .item .item_info{
    border-radius: 10px;
    border: 0.2px solid rgb(219, 218, 218);
    background-color: white;
    transition: 0.5s linear;
}
.banner1 .item .item_info:hover {
    box-shadow: 0px 2px 10px rgb(192, 191, 191);
}
.info_m{
    margin: 63px 48px;
    display: grid;
    grid-template-rows: 1fr;
}
.banner1 .item .item_info :hover svg{
    fill: #5956E8;
}
.banner1 .item .item_info :hover svg path{
    fill: white;
}
.banner1 .item .item_info h3{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
    padding-bottom: 20px;
    padding-top: 30px;
}
.banner1 .item .item_info p{
    font-size: 16px;
    line-height: 1.3;
    color: #181818;
    opacity: 70%;
    text-align: left;
}


/* banner1 end */


.banner2{
    padding-bottom: 100px;
}
.banner2 .all{
    background-color: #efeff7;
    margin: auto 100px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}
.banner2 .all h5{
    font-size: 20px;
    color: #181818;
    padding: 23px 28px;
    transition: 0.3s linear;
    line-height: 70px;
    display: block;
    position: relative;
    cursor: pointer;

}
.banner2 .all h5:hover{
    color: #5956E8;
}
.banner2 .all h5::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #5956E8;
    transition: 0.3s linear;
}
.banner2 .all h5:hover::after{
    width: 100%;
}
.banner2 .item {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.banner2 .item .img{
    width: 270px;
    height: 319px;
    transition: 0.5s ease-in-out;
}

.banner2 .item .img .graphics{
    width: 230px;
    height: 113px;
    border-radius: 10px;
    margin: -133px 20px 20px 20px;
    position: relative;
    z-index: 1;
    background-color: #5956E8;
    display: none;
    transition: 0.5s ease-in-out;
}
.banner2 .item .img:hover{
    .graphics{
        display: block;
    }
}
.banner2 .item .img .graphics h5{
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.3;
    color: white;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;

}
.banner2 .item .img .graphics .image{
    display: flex;
}
.banner2 .item .img .graphics p{
    font-size: 16px;
    line-height: 1.3;
    color: white;
    padding-left: 40px;
}
.banner2 .item .img .graphics .image img{
    width: 24px;
    height: 24px;
}
.banner2 .item .img .graphics .image {
    padding-right: 56px;
    padding-left: 10px;
}
.banner2 .item .img img{
    border-radius: 10px;
}


/* banner2 end */


.banner3{
    padding-bottom: 100px;
}
.banner3 .our{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding-top: 50px;
}
.banner3 .our .img{
    width: 370px;
    height: 444px;
    position: relative;
}
.banner3 .our .img::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(2deg,rgba(79, 96,232,1) 0%, rgba(0, 0, 0,0) 40%);
    transition: 0.5s linear;
}
.banner3 .our .text{
    position: absolute;
    left: 100px;
    bottom: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    z-index: 1;
    transition: 0.3s linear;
}
.banner3 .our .img:hover .text{
    bottom: 70px;
}
.banner3 .our .img .text h4{
    font-size: 20px;
    padding-bottom: 8px;
}
.banner3 .our .img .text h5{
    font-size: 15px;
}



/* banner3 end */




.banner4{
    padding-bottom: 100px;
}
.banner4 h2{
    text-align: left;
    max-width: 603px;
}
.banner4 p{
    text-align: left;
    margin: 0px ;
}
.our_item{
    border-radius: 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.our_item .our_item_inner{
    padding: 48px ;
    position: relative;
    box-shadow: 0px 2px 10px rgb(213, 212, 212);
}
.our_item .our_item_inner .img{
    width: 83px;
    height: 83px;
}
.our_item .our_item_inner .star{
    padding-bottom: 20px;
    padding-top: 30px;
}
.our_item .our_item_inner p{
    text-align: left;
    margin: 0px;
    padding-bottom: 15px;
}
.our_item .our_item_inner h5{
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
    color: #181818;
    text-align: left;

}
.our_item .our_item_inner p{
    text-align: left;
    margin: 0px;
}
.our_item .our_item_inner .group {
    width: 63px ;
    height: 46px;  
}
.our_item .our_item_inner .f{
    display: flex;
    justify-content: space-between;
    align-items: end;
}


/* banner4 end */


.banner5{
    padding-bottom: 100px;
}
.banner5 .news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 50px;
}
.banner5 .news .news_item{
    border: 0.5px solid rgb(214, 213, 213);
    background-color: white;
    border-radius: 10px;

}
.banner5 .news .news_item .img{
    width: 332px;
    height: 198px;
    margin: 17px 19px;
}
.banner5 .news .news_item .flex{
    display: flex;
    align-items: center;
    gap: 177px;
}
.banner5 .news .news_item .flex .img{
    width: 14px;
    height: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner5 .news .news_item .flex .img2{
    width: 18px;
    height: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner5 .news .news_item .text{
    padding: 10px 35px 46px 35px;
}
.banner5 .news .news_item h4{
    font-size: 20px;
    font-weight: 600;
    color: #181818;
}
.banner5 .news .news_item p{
    text-align: left;
    margin: 0px;
    padding: 10px 0px;
}
.banner5 .news .news_item button{
    font-weight: 600;
    color: #5956E8;
    font-size: 16px;
    background: transparent;
}



/* banner5 end */


/* footer start  */


footer {
    background-color: #dcdcfd;
    padding: 100px 0px;
}
footer .footer_flex{
    display: flex;
    gap: 93px;
}
footer .footer_flex .footer_item{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
footer .footer_flex .footer_item .img{
    width: 115.21px ;
    height: 83px;
}
footer .footer_flex .footer_item p{
    text-align: left;
    margin: 0px;
    padding: 15px 0px;
}
footer .footer_flex .footer_item .facebook ul {
    display: flex;
    gap: 26px;
}

footer .footer_flex .footer_item .facebook ul li img{
    
    background: transparent;
    background: white;
    color: #0803f9;
    padding: 15px 17px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
footer .footer_flex .footer_item2 h5{
    font-size: 20px;
    font-weight: 600;
    color: black;
    padding-bottom: 15px;
}

footer .footer_flex .footer_item2  ul li{
    font-size: 16px;
    line-height: 1.3;
    color: #181818;
    opacity: 70%;
    text-align: left;
    padding-bottom: 10px;
    
}


/* footer end */
 